#webcam {
	width: 130%;
	height: 44%;

}

  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 10% 20% auto;
  }


#text{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}